.main_content{
    width: 900px;
    margin-left: 100px;
    margin-top: 20px;
}
.main_content_header {
    display: flex;
    height: 40px;
    align-items: center;
    background: #f6f6f6;
    border-radius: 5px 5px 0 0;
}
.main_content_header li {
    margin-left: 20px;
}
.main_content_header li a {
    color: #80bd01;
    padding: 5px;
    font-size: 14px;
}
.main_content_header li a.selected {
    background-color: #80bd01;
    color: #fff;
    border-radius: 3px;
}

.newlist {
    background: #ffffff;
    min-height: 400px;
}
.newlist ul li {
    height: 35px;
    padding: 5px;
}
.newlist ul li:hover {
    background: #f5f5f5;
}
.post_title:hover {
    text-decoration: underline;
}
.manpic {
    vertical-align: middle;
    margin-right: 15px;
}
.lastreplay {
    float: right;
    margin-right: 15px;
    line-height: 30px;
}
.posttype {
    display: inline-block;
    padding:2px 4px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 5px;
}
.puttop {
    background: #80bd01;
    color: #fff;
}
.share {
    background-color: #e5e5e5;
    color: #999;
}
.postlist_panigation {
    padding: 10px;
}